*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}
/* header section start */
/* nav-bar start  */
.nav{
 display: flex;
 justify-content: space-between;
 padding: 0 150px;
 background-color: white;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1000;
}
.nav-logo{
 display: flex;
 position: relative;
 width: 170px;
}
.nav-logo h2{
 position: absolute;
 right: 0;
 bottom: 10px;
}
.nav-logo img{
 height: 70px;
 width: 60px;

}
.nav-list{
 display:flex;
 justify-content: center;
 align-items: center;
  column-gap: 15px;
}
.nav-list a{
 position: relative;
 padding: 0px;
 text-decoration: none;
 font-size: 16px;
 color: black;
 margin: 0px;
}
.nav-list .home{
 color:rgb(0, 170, 255);
}
.nav-list a:hover{
 color:blue;
}
.nav-button{
 position: relative;
 right: 0px;
 display: flex;
 align-items: center;
}
.nav-button button{
 padding: 10px 20px;
 border:1px solid rgb(0, 170, 255) ;
 border-radius: 10px;
 background:none;
 margin: 0 10px;
 color: rgb(0, 170, 255);
}
.nav-button button:hover{
 background-color: rgb(0, 170, 255);
 color: white;
 cursor: pointer;
}
.nav-button i{
 position:relative;
 bottom: -5px;
 font-size: 25px;
 color: rgb(0, 0, 0);
}
.nav-button i:hover{
 color:rgb(0, 170, 255);
 cursor: pointer;
}
.nav-button .up{
 background-color:  rgb(0, 170, 255);
 color: white;
}
.nav-button .up:hover{
 color: blue;
}
/* nav bar end  */
/* header section end  */

/* main section start  */
.main{
  margin: 0 150px;
  margin-top: 100px;
  position: relative;
  height: 664px;
}
/* left section start here  */
.left-main{
width: 50%;
position: absolute;
left: -10%;
opacity: 0;
animation: leftIn 1.5s ease forwards;
}
@keyframes leftIn{
  to{
    left:0;
    opacity: 1;
  }
}
.left-main i{
  color: rgb(0, 255, 0);
  font-size: 15px;
  margin: 0 5px;
}
.left-main .build-et{
  font-size: 14px;
}
.left-main .span-head{
  font-size: 40px;
  font-weight: 900;
}
.left-main .text-left-1{
  font-size: 24px;
  font-weight: 600;
  color: rgb(75, 102, 137);
}
.left-main .left-btn{
  height: 40px;
  width: 140px;
  margin-top: 20px;
  border: none;
  outline: none;
  background:rgb(16, 78, 235) ;
  border-radius: 7px;
  color: white;
  font-size: 15px;
}
.left-main .left-btn:hover{
  background-color: rgb(21, 70, 194);
  cursor: pointer;
}
.picture{
  display: flex;
  margin-top: 50px;
}
.picture .side-picture-text{
  margin-left: 50px;
  margin-top: 10px;
}
.picture .side-picture-text span{
  color: rgba(0, 0, 0, 0.598);
}
.picture .side-picture-text a{
  text-decoration: none;
}
.picture3{
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: fit-content;
}
.image-list{
  margin-left:-15px ;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  left: 15px;
}

.img3{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/* main left section end here */
/* --------- */
/* main right section start hare  */
.main .right-main{
  width: 50%;
  position: absolute;
  right: 0;
}
.right-img-div{
  width: 100%;
  height: calc(100% - 3%);
}
.right-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* main right section end hare  */
/* --------- */
/* rating div start  */
.rating-div{
  margin-top: 100px;
 width: 80%;
 position: relative;
 left: 50%;
 transform: translate(-50%);
 display: flex;
 justify-content:space-evenly;
 animation: fadeUp 1s ease-out forwards;
}
@keyframes fadeUp {
    0% {
        opacity: 0;      
    }
    100% {
        opacity: 1;
    }
}
.rating-div .rating{
width: 270px;
position: relative;
}
.rating-div .rating i{
 width: 100%;
 font-size: 30px;
 color: rgb(0, 153, 255);
}
.rating-div .rating .poient{
display: block;
text-align: center;
font-size: 40px;
font-weight: 800;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 17px;

}
.rating-div .rating .rating-text{
 display: block;
 font-size: 18px;
 text-align: center;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: rgba(0, 0, 0, 0.475);
}
/* rating div end */
/* main section end  */
 